version: '3.8'

services:
  nextjs_app:
    container_name: portfolio_app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    environment:
      - NODE_ENV=production
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: portfolio_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      # Mount SSL certificates (uncomment sau khi đã cài SSL)
      # - /etc/letsencrypt:/etc/letsencrypt:ro
      # - /var/www/certbot:/var/www/certbot:ro
    depends_on:
      - nextjs_app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge