name: Deploy Portfolio to AWS

on:
  push:
    branches:
      - main  # Tự động chạy khi bạn push code vào nhánh main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            # Di chuyển vào thư mục dự án trên VPS
            cd /home/huan1/portfolio  # Sửa đúng đường dẫn folder của bạn
            
            # Kéo code mới nhất về
            git pull origin main
            
            # Build và khởi động lại Docker
            sudo docker compose up -d --build
            
            # Dọn dẹp các Image cũ để tránh đầy ổ cứng
            sudo docker image prune -f